*{
  margin: 0;
  padding: 0;
}

html,body,#root {
  box-sizing: border-box;
  height: 100%;
  width:100%;
}

main{
  height: 90%;
  width:90%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  margin: 1.5rem;
}

main .left , main .right {
  height: 100%;
  flex-basis: 50%;
}

main .left {
  background-color: black;
  border-radius:0.7rem;
  position: relative;
}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(90, 90, 245);
  color: white;
  padding: 0.5rem  2rem;
  border-radius: 12px;
  font-weight: 200;
  cursor: progress;
  user-select: none;
  margin: 5px;
}


main .left .review:hover{
  background-color: rgb(176, 176, 248);
}


.left .code, .code pre, .code pre code {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0;

  background-color: #141414;
  

}

main .right {
  background-color: rgb(22, 22, 22);
  border-radius: 0.7rem;
  overflow: auto;
}


